h1 {
  font-size: 42px;
  font-family: "Courier Prime", monospace;
}
h2 {
  font-size: 25px;
  font-family: "Courier Prime", monospace;
}
h3 {
  font-size: 15px;
  font-family: "Courier Prime", monospace;
  right: 10px;
}
h4 {
  font-size: 20px;
  font-family: "Courier Prime", monospace;
}
h5 {
  font-size: 45px;
  font-family: "Courier Prime", monospace;
}
li {
  font-size: 15px;
  font-style: oblique;
  font-family: "Courier Prime", monospace;
}

.top {
  margin: auto;
  width: 80%;
  height: 180px;

  padding: 10px;
  text-align: center;
}
.title {
  height: 150px;
  margin-left: 30px;
}
.email {
  height: 150px;
  margin-left: 30px;
}
.head {
  display: flex;
}
.firstpicture {
  height: 250px;
  width: 250px;
  border-radius: 25px;
}
.rightboxtop {
  display: flex;
  flex-direction: column;
}
