.body {
  margin-left: 20px;
  box-shadow: 3px;
}

h1 {
  font-size: 42px;
  font-family: "Courier Prime", monospace;
}
h2 {
  font-size: 25px;
  font-family: "Courier Prime", monospace;
}
h3 {
  font-size: 15px;
  font-family: "Courier Prime", monospace;
  right: 10px;
}
h4 {
  font-size: 20px;
  font-family: "Courier Prime", monospace;
  margin-left: 20px;
}
h5 {
  font-size: 45px;
  font-family: "Courier Prime", monospace;
}
li {
  font-size: 15px;
  font-style: oblique;
  font-family: "Courier Prime", monospace;
}

.top {
  margin: auto;
  width: 80%;
  height: 140px;

  padding: 40px 0;
  text-align: center;
}
.title {
  height: auto;
  margin-left: 30px;
}
.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 85px;
  margin-left: 30px;
}
.city {
  margin-left: 20vh;
}
.date {
  margin-left: 5vh;
}
.head {
  display: flex;
  margin-bottom: 20px;
}
.firstpicture {
  height: 250px;
  width: 250px;
  border-radius: 25px;
  margin-top: 115px;
}
.rightboxtop {
  display: flex;
  flex-direction: column;
  margin-top: 115px;
}
.container {
  display: flex;
  align-items: stretch;
}
.leftwall {
  width: 50%;
  overflow: hidden;
}
.rightwall {
  width: 50%;
  overflow: hidden;
  margin-left: 50%;
}
.diploma {
  width: 530px;
  height: 380px;
}
.address {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-block: 15px;
  margin-left: 30px;
}
